POSTGRES_DB=avionica
POSTGRES_USER=avionica
POSTGRES_PASSWORD=avionica_dev
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/avionica
SPRING_DATASOURCE_USERNAME=avionica
SPRING_DATASOURCE_PASSWORD=avionica_dev
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
MQTT_BROKER=mqtt-broker
MQTT_PORT=1883
FMS_API_KEY=coloque_sua_chave_aqui
